# {{ ansible_managed }}
{% for item in users_groups %}
{% if item.state == 'present' %}
{% if item.sudo == true %}
%{{ item.name }} ALL=(ALL) ALL
{% elif item.sudo == 'nopasswd' %}
%{{ item.name }} ALL=(ALL) NOPASSWD:ALL
{% else %}
# Access via sudo not permitted for {{ item.name }}
{% endif %}
{% endif%}    
{% endfor %}