# {{ ansible_managed }}
{% if item.state == 'present' and item.sudo is defined %}
{% if item.sudo == true %}
{{ item.name }} ALL=(ALL) ALL
{% elif item.sudo == 'nopasswd' %}
{{ item.name }} ALL=(ALL) NOPASSWD:ALL
{% endif %}
{% endif %}
